<div class = "container">
    <div class = "row">
        {{#each recipes as |recipe|}}
        <div class = "col-lg-4">
            {{> card-info recipe}}
        </div>
        {{/each}}
    </div>
</div>

<script src="/javascript/search.js"></script>